[Unit]
Description=Rover application stack (ext)
Wants=mosquitto.service rover-motor-control.service rover-sonar-reader.service rover-camera-reader.service rover-web-bridge.service
After=mosquitto.service
